
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BFFCFF;
  }
  
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */ 
    max-width: 100%;
    margin-inline: auto;
  
  }
  
  .logo-container { 
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 200px;
    height: 200px;/* Fixed width */
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
   .logo{
    max-width: 100%;
    width: 100%;
    height: 100%;
   }
  
   .carousel{
    max-width: 100%;
   }
  
   .carousel-content{
    max-width: 100%;
    align-items: center;
    font-weight: 550;
    font-size: x-large;
  }
  
  .url-shortener-container {
    border: 0.5px solid #000;
    border-radius: 25px;
    background-color: #D3F6F8;
    padding: 2rem;
    margin-bottom: 100px;  
    align-items: center;
    width: 800px;
    height: auto;
    max-width: 700px;
    box-shadow: -5px 10px 10px rgba(93, 121, 122, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    min-width: 300px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    flex-direction: column;
  }
  
  .input-container input {
    width: 100%;
    height: 100%;
    border: 0.5px solid black;
    border-radius: 25px;
    font-size: large;
   }
  
  .output-container {
    position: relative;
    margin-top: 4%;
    margin-right: none;
    margin-left: none;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .output-container p{
    height:20px;
    margin-bottom: none;
    margin-top: auto;
    padding: none;
    display: fixed;
    float: center;
  }
  
  .output-container input {
    box-sizing: border-box;
    border: 0.5px solid black;
    border-right: none;
    border-radius: 25px 0 0 25px;
    width: 400px; 
    height: 40px;
    margin-right: none;
    margin-left: none;
    font-size: large; 
  }
  
  .shorten-button{
    width: 200px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 25px;
    margin-left: 2rem;
    background-color: #7FD3FA;
    font-size: large;
    position: relative;  
  }
  
  .shorten-button:hover{
    background-color: #4db0df;
  }
  
  .icons{
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: #000 solid 0.5px;
    border-left: none;
    border-radius: 0 25px 25px 0; 
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative; 
    margin-left: none;
  }
  
  .qr-icon, .copy-icon{
    height: 20px;
    width: 20px;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  
  

  @media (max-width: 600px) {
    .url-shortener-container {
        width: 70%;
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        box-shadow: -2px 5px 5px rgba(93, 121, 122, 0.5);
    }

    .output-container input {
        width: calc(200% - 110px); /* Adjust based on icon width and margin */
        margin: 0;
    }

    .shorten-button {
        width: 100%;
       
    }

    .icons {
        width: 100%;
        display: flex;
        margin-right: 20px;
     
    }

    .qr-icon, .copy-icon {
        margin-left: auto;
        margin-right: auto;
        height: 20px;
        width: 20px;
    }
}






@media (min-width: 601px) and (max-width: 1024px) {
  .url-shortener-container {
      width: 70%;
      max-width: none;
      padding: 1.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
  }

  .output-container input {
      width: 70%;
      font-size: large;

      
  }

  .shorten-button {
      width: 150px;
      margin-left: 0;
    
  }

  .icons {
      width: 80px;
      display: flex;
      margin-right: 20px;
 

      
  }

  .qr-icon, .copy-icon {
       
      margin-left: 5px;
  }
 

}

/* Desktop view */
@media (min-width: 1025px) {
  .url-shortener-container {
      width: 70%;
      max-width: 700px;
      padding: 2rem;
      margin-left: auto;
      margin-right: auto;
  }

  .output-container input {
      width: 400px;
      font-size: large;
  }

  .shorten-button {
      width: 200px;
      margin-left: 2rem;
  }

  .icons {
      width: 100px;
  }

  .qr-icon, .copy-icon {
      margin-left: 1rem;
  }
}